--index-url https://cloud-test:CloudPass123@merrillcorp.jfrog.io/merrillcorp/api/pypi/vpypi/simple
setuptools==58.1.0
setuptools-git-version==1.0.3
wheel==0.37.1
aiofiles==0.8.0
aiohttp==3.7.4.post0
aiosignal==1.2.0
async-timeout==3.0.1
attrs==20.3.0
azure-common==1.1.28
azure-core==1.22.1
azure-identity==1.7.1
azure-mgmt-containerservice==16.3.0
azure-mgmt-core==1.3.0
azure-storage-blob==12.9.0
blinker==1.4
cachetools==5.0.0
certifi==2021.10.8
cffi==1.15.0
chardet==4.0.0
click==7.1.2
cloud-common==0.0.19
cloudtools==4.3.0
cryptography==36.0.2
Deprecated==1.2.13
dict-recursive-update==1.0.1
docutils==0.16
dominate==2.6.0
Flask==1.1.1
Flask-API==1.1
Flask-Bootstrap==3.3.7.1
Flask-DebugToolbar==0.11.0
flask-ldap3-login==0.9.16
Flask-Login==0.4.1
flask-nav==0.6
Flask-WTF==1.0.1
frozenlist==1.3.0
google-auth==2.6.2
healthcheck==1.3.3
helpers==0.2.0
hiredis==1.0.0
http-parser==0.9.0
idna==2.10
importlib-metadata==3.7.0
infoblox==1.1.1
iniconfig==1.1.1
isodate==0.6.1
itsdangerous==2.1.2
Jinja2==3.1.1
k8s-cloud-system==1.0.41+66.a6489f3
keyring==23.0.0
kubernetes==17.17.0
ldap3==2.9.1
m2r==0.2.1
Mako==1.1.1
MarkupSafe==2.1.1
mercury-client==0.1.1
mistune==0.8.4
mockito==1.2.2
msal==1.17.0
msal-extensions==0.3.1
msrest==0.6.21
multidict==6.0.2
oauthlib==3.2.0
packaging==20.9
pluggy==0.13.1
portalocker==2.4.0
py==1.10.0
pyasn1==0.4.8
pyasn1-modules==0.2.8
pycparser==2.21
PyGithub==1.54.1
PyJWT==1.7.1
pyparsing==2.4.7
python-dateutil==2.8.2
python-dotenv==0.10.3
python-gitlab==2.6.0
PyYAML==6.0
redis==3.2.1
requests==2.25.1
requests-oauthlib==1.3.1
requests-toolbelt==0.9.1
rsa==4.8
ruamel.yaml==0.17.4
ruamel.yaml.clib==0.2.6
six==1.14.0
toml==0.10.2
typing-extensions==3.7.4.3
urllib3==1.26.9
uWSGI==2.0.20
visitor==0.1.3
websocket-client==1.3.2
Werkzeug==2.1.1
wrapt==1.14.0
WTForms==2.2.1
yarl==1.7.2
zipp==3.4.0
